
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <head>
        <title>CoronaVirus tracker Application</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    </head>

    <body>

    <h1> CoronaVirus tracker Application </h1>
    <p> Cases from the whole world </p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${fname${counter}}">Hello, world!</h1>
        <h1 class="display-4" th:text="${fname${counter}}">Hello, world!</h1>
        <h1 class="display-4" th:text="${fname${counter}}">Hello, world!</h1>
        <h1 class="display-4" th:text="${fname${counter}}">Hello, world!</h1>
        <h1 class="display-4" th:text="${fname${counter}}">Hello, world!</h1>
        <h1 class="display-4" th:text="${fname${counter}}">Hello, world!</h1>
        <p class="lead">The two numbers added together are: </p>
        <h1 class="display-4" th:text="${added}">Hello, world!</h1>
    </div>

    </body>

</div>
</html>